/* ----- Containers -----*/
.features-con2 {
    margin-top: 50vh;
}

.con-fea-con-main-con {
    position: relative;
    background: #2727279e;
    padding: 8vh 0;
}

.con-fea-con-main-con>h2 {
    font-weight: 500;
    color: white;
    text-align: center;
    background-image: linear-gradient(var(--blue), var(--purple));
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    filter: brightness(1.5);
}

.con-fea-con-main-con>h2::before {
    content: "";
    margin: 5px;
    display: inline-block;
    width: 25vh;
    height: 3px;
    background: linear-gradient(67deg, var(--blue), var(--purple));
}

.con-fea-con-main-con>h2::after {
    content: "";
    margin: 5px;
    display: inline-block;
    width: 25vh;
    height: 3px;
    background: linear-gradient(-67deg, var(--blue), var(--purple));
}

.con-fea-con-main {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 8em 0;
}

.feature-card {
    margin: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 5em;
    background-position: top;
    background-size: cover;
    border-radius: 8px;
}

.feature-card:hover {
    transform: scale(1.04);
}

.feature-card>img {
    width: 125px;
}

.feature-card>h3 {
    color: white;
}

.feature-card>p {
    text-align: justify;
    width: 175px;
    color: white;
    text-shadow: 0px 0px 6px #272727;
}
